.button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: $blue-500;
    color: $white;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    transition: $fast;
    span {
        display: inline-block;
        vertical-align: middle;
    }
    &:hover {
        background-color: $blue-700;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        line-height: 20px;
    }
}

.button--scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    display: none;
    z-index: 20;
    svg {
        display: block;
        height: 20px;
        transform: rotate(-90deg);
    }
    path {
        stroke: $white;
    }
}

.button__icon {
    height: 20px;
    margin-left: 8px;
    svg {
        fill: $white;
        height: inherit;
    }
}

.link {
    color: $blue-500;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s ease;
    &:not([class]) {
        display: inline-block;
        vertical-align: middle;
    }
    &:hover {
        color: $blue-700;
        svg {
            stroke: $blue-700;
        }
    }
}

.link__icon {
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    svg {
        height: 20px;
        stroke: $blue-500;
    }
}